body {
    background-color:black;
    font-family: arial;
    color: white;
}

h1{
    color:grey;
    font-family: verdana;
}

.maindiv {
    text-align: center;
    background-color: white;
    color: black;
    width: 40%;
    padding: 20px;
    border-radius: 25px;
    margin: 0 auto;
}

.valdiv {
    text-align: left;
    padding: 0% 25%;
}

.footer {
    text-align: left;
    padding: 0% 5%;
}